<div class="row mt-3 mb-4">
  <div class="col-6">
    <h3>Listado de Comentarios</h3>
  </div>
  <div class="col-6">
    <button routerLink="agregar"  class="btn btn-primary float-end">Nuevo Comentario</button>
  </div>
</div>
<table *ngIf="listComentarios.length > 0" class="table mt-3">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Creador</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor=" let comentario of listComentarios">
    <tr>
      <td> <a [routerLink]="['/ver', comentario.id]" href="">{{comentario.titulo}}</a></td>
      <td>{{comentario.creador}}</td>
      <td>{{comentario.fechacreacion}}</td>
      <td>
        <button style="width:100%" class="btn btn-primary btn-sm float-end">Editar</button>
      </td>
      <td>
        <button (click)="eliminarComentario(comentario.id)" style="width:100%" class="btn btn-danger btn-sm float-end">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="listComentarios.length == 0" class="row mt-5">
  <h5>No hay comentarios para comentar</h5>
</div>
